@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid bggg text-white">
    <div class="container">
    <div class="row text-center justify-content-center align-items-center">
    <div class="col-12 mt-5">
        <h1>Web Design Pakistan</h1>
    </div>
    <div class="col-12 mb-5">
        <p>Looking for high-quality web design, SEO services, and content writing services in Pakistan? Look no further than our team of experienced professionals. We specialize in creating beautiful, functional websites that are optimized for search engines and deliver engaging, high-quality content that drives traffic and conversions. With our expertise in web design, SEO, and content creation, we can help your business succeed online. Contact us today to learn more!</p>
    </div>
    <div class="col-md-3 my-5">
        <div class="box text-center" id="box1">
            <div><i class="fas fa-desktop desktopsize mt-4"></i></div>
            <div><h1 class="boxtext">Website Design</h1></div>
            <a class="btn btn-warning mb-3">Let's start'</a>
        </div>
    </div>
    <div class="col-md-3 my-5">
        <div class="box text-center" id="box2">
            <div><i class="fas fa-shopping-cart desktopsize mt-4"></i></div>
            <div><h1 class="boxtext">Ecommerce Store</h1></div>
            <a class="btn btn-warning mb-3">Let's start'</a>
        </div>
    </div>
    <div class="col-md-3 my-5">
        <div class="box text-center" id="box3">
            <div><i class="fas fa-chart-bar desktopsize mt-4"></i></div>
            <div><h1 class="boxtext">SEO Service</h1></div>
            <a class="btn btn-warning mb-3">Let's start'</a>
        </div>
    </div>
    <div class="col-md-3 my-5">
        <div class="box text-center" id="box4">
            <div><i class="fas fa-bullhorn desktopsize mt-4"></i></div>
            <div><h1 class="boxtext">Digital Marketing</h1></div>
            <a class="btn btn-warning mb-3">Let's start'</a>
        </div>
    </div>
</div>
</div>
</div>

<div class="container-fluid mt-5">
    <div class="container justify-content-center align-items-center">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 text-center">
                <h1 class="mainheadings">Web Site development in Pakistan</h1>
            </div>
            <div class="col-12 text-center">
                <p>We offer cheap website development price in Pakistan that is affordable to everyone</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="">
                    <div><img src="~/imgs/standard-website.webp" /></div>
                </div>
                <div><h2 class="mainheadings">Standered Website</h2></div>
                <div><p><b>Just need something simple to tell people what you do? Our standard web design service is for you.</b></p></div>
                <div><a class="btn btn-outline-dark">Find Out  More</a></div>
            </div>
            <div class="col-md-6 text-center">
                <div class="">
                    <div><img src="~/imgs/ecommerce-website.webp" /></div>
                </div>
                <div><h2 class="mainheadings">Ecommerce Website</h2></div>
                <div><p><b>Want to sell products in an online shop? Our Ecommerce specialists are here for you.</b></p></div>
                <div><a class="btn btn-outline-dark">Find Out  More</a></div>
            </div>
            <div class="col-md-6 text-center mt-5">
                <div class="">
                    <div><img src="~/imgs/booking-website.webp" /></div>
                </div>
                <div><h2 class="mainheadings">Booking Website</h2></div>
                <div><p><b>Want to accept bookings with or without payments? Our booking web design service is for you.</b></p></div>
                <div><a class="btn btn-outline-dark">Find Out  More</a></div>
            </div>
            <div class="col-md-6 text-center mt-5">
                <div class="">
                    <div><img src="~/imgs/catalog-website.webp" /></div>
                </div>
                <div><h2 class="mainheadings">Catalog Website</h2></div>
                <div><p><b>Got products to display but don’t need payments? Our catalogue web designers are here for you.</b></p></div>
                <div><a class="btn btn-outline-dark">Find Out  More</a></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mutedback mt-3">
    <div class="container justify-content-center align-items-center">
        <div class="row mx-5">
        <div class="col-12 text-center">
                <h3 class="mt-5"><span class="whatincluded">What’s included in our</span><span> web design and development packages?</span></h3>
            <p>If you are in need of website development, then you should choose the Best Web Development Company who has a team ranked as Top web developer in Pakistan. The site should be organized and user-friendly. It should have the ability to convey your message in a clear and easy manner. The site should also be Responsive, which means it will adapt to the device you are using to view it.</p>
        </div>
            <div class="col-md-6 mt-3">
                <div><h3 class="headingcolorr"><i class="fas fa-pen text-black"></i> Bespoke design</h3></div>
                <div class=""><p>Our talented designers will create something unique that makes you stand out from your competition.</p></div>
        </div>
            <div class="col-md-6 mt-3">
                <div><h3 class="headingcolorr"><i class="fas fa-sync text-black"></i> Unlimited revisions</h3></div>
                <div class=""><p>Request as many revisions as you like, our designers won’t let you go live until you are 100% happy with it.</p></div>
            </div>
            <div class="col-md-6 mt-3">
                <div><h3 class="headingcolorr"><i class="fas fa-mobile-alt text-black"></i> Responsive Design</h3></div>
                <div class=""><p>Your site will respond to the device being used, providing a first-class mobile experience for your visitors.</p></div>
            </div>
            <div class="col-md-6 mt-3">
                <div><h3 class="headingcolorr"><i class="fas fa-edit text-black"></i> Edit Anytime</h3></div>
                <div class=""><p>Edit your design and content any time you like using the free WordPress or Joomla content management system.</p></div>
            </div>
            <div class="col-md-6 mt-3">
                <div><h3 class="headingcolorr"><i class="fas fa-bars text-black"></i> Feature Packed</h3></div>
                <div class=""><p>We can include forms, maps, image and video galleries, social media and Google Analytics integration and more.</p></div>
            </div>
            <div class="col-md-6 mt-3">
                <div><h3 class="headingcolorr"><i class="fas fa-search text-black"></i> Free Optimization</h3></div>
                <div class=""><p>Want your website to be found on Google? We will optimize your site for your target keywords and phrases.</p></div>
            </div>
            <div class="col-md-6 mt-3">
                <div><h3 class="headingcolorr"><i class="fas fa-tachometer-alt text-black"></i> Fast & reliable</h3></div>
                <div class=""><p>There’s nothing more frustrating than a slow website. We provide fast hosting to keep your visitors happy.</p></div>
            </div>
            <div class="col-md-6 mt-3">
                <div><h3 class="headingcolorr"><i class="fas fa-envelope text-black"></i> Domain & Email</h3></div>
                <div class=""><p>If you haven’t already arranged your domain and email we can provide that for you, or you can use your own.</p></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid redbg">
    <div class="container justify-content-center align-items-center">
        <div class="row mx-5">
            <div class="col-12 text-center">
                <h3 class="text-white mt-5">Why choose our Website Designing Services in Lahore?</h3>
                <p class="text-white text-center">There are several companies offering web designing and development services in Lahore. It can be hard to choose the best web design company among them. The recommended way to choose the web development company in Lahore is to compare the portfolio of work. Some of the companies have lower prices, but they differ in quality and services. Moreover, while cost is important, the quality is more important. In Lahore, you can look at our web designs that are built by professionals.This will give you a good idea about our working.</p>
            </div>
            <div class="col-md-6 mt-3">              
                    <span><img src="~/imgs/creative.webp" /></span>
                    <span class="display-6 text-white">Creative</span>
                    <p class="text-white">We stay up to date with all the latest web design trends. You can be sure your site will look modern up against your competitors.</p>
            </div>
            <div class="col-md-6 mt-3">
                <span><img src="~/imgs/high-quality.webp" /></span>
                <span class="display-6 text-white">High-Quality</span>
                <p class="text-white">A number of our clients got success for the website we created for them. We can help you stand out in your sector too.</p>
            </div>
            <div class="col-md-6 mt-3">
                <span><img src="~/imgs/established.webp" /></span>
                <span class="display-6 text-white">Established</span>
                <p class="text-white">We are in our 17th year of business. You can relax knowing we’ll be around to support you and your business for the next 10 years.</p>
            </div>
            <div class="col-md-6 mt-3">
                <span><img src="~/imgs/experienced.webp" /></span>
                <span class="display-6 text-white">Experienced</span>
                <p class="text-white">We have created hundreds of websites across a wide range of sectors. We have the experience to help you achieve your goals.</p>
            </div>
            <div class="col-md-6 mt-3 mb-5">
                <span><img src="~/imgs/trust-worthy.webp" /></span>
                <span class="display-6 text-white">Trustworthy</span>
                <p class="text-white">We are trusted by Small and Big Enteprises across 9 different countries, you can rest easy knowing you’re in safe hands.</p>
            </div>
            <div class="col-md-6 mt-3 mb-5">
                <span><img src="~/imgs/multi-skilled.webp" /></span>
                <span class="display-6 text-white">Multiskilled</span>
                <p class="text-white">Being Pakistan based we are able to communicate in your language. Relax knowing we have you covered.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mutedback">
    <div class="container justify-content-center align-items-center">
        <div class="row mx-5">
            <div class="col-12">
                <h2 class="text-center mt-5 mainheadings">Questions to ask a web designer in Pakistan</h2>
                <p class="text-center">Some basic questions you should ask a potential web designer.</p>
            </div>
            <div class="col-12">
                <div class="container mt-5">
                    <div class="question-box" data-toggle="collapse" data-target="#answer1" aria-expanded="false" aria-controls="answer1">
                        <span class="fw-bold">What are they Based?</span>
                        <span>&#x25BC;</span>
                    </div>
                    <div class="collapse" id="answer1">
                        <div class="answer">
                            Your web designer doesn’t have to be local to you, but it is usually beneficial to use a company who is located in the same country. Different working hours can cause delays which could lead to frustration if there’s a problem with your site.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="container mt-5">
                    <div class="question-box" data-toggle="collapse" data-target="#answer2" aria-expanded="false" aria-controls="answer2">
                        <span class="fw-bold">How long has your company been in business?</span>
                        <span>&#x25BC;</span>
                    </div>
                    <div class="collapse" id="answer2">
                        <div class="answer">
                            No one wants to use a web designer that will be there one day and gone the next, so try to use someone that is well established. We often receive enquiries from clients who had used someone just starting out but their project didn’t get finished as their designer had disappeared.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="container mt-5">
                    <div class="question-box" data-toggle="collapse" data-target="#answer3" aria-expanded="false" aria-controls="answer3">
                        <span class="fw-bold">What is your design process?</span>
                        <span>&#x25BC;</span>
                    </div>
                    <div class="collapse" id="answer3">
                        <div class="answer">
                            This helps you to understand how you will get your ideas across and then end up with the finished result.

                            How do you submit your design brief to them?
                            How do you send them your website content?
                            Can you make changes if you don’t like something?
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-5">
                <div class="container mt-5">
                    <div class="question-box" data-toggle="collapse" data-target="#answer4" aria-expanded="false" aria-controls="answer4">
                        <span class="fw-bold">Does the company provide web hosting?</span>
                        <span>&#x25BC;</span>
                    </div>
                    <div class="collapse" id="answer4">
                        <div class="answer">
                            All websites need hosting to be visible online. Your site files and database need to be stored on a (fast!) server in order to available to your customers.

                            Does your web designer also provide hosting? If so, who do they host with? How reliable is that website host?

                            Ask to see some other websites they host and see how fast they load to get an idea of the speed you can expect.

                            We are offering best Web Hosting Services in Pakistan
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mutedback">
    <div class="container justify-content-center align-items-center">
        <div class="row">
            <div class="col-12 justify-content-center align-items-center text-center">
                <div>
                    <i class="fas fa-desktop" style="font-size:50px;"></i>
                    <h1 class="fw-bold">Web design inspiration</h1>
                    <p>
                        Not sure what you want your website to look like? Take a look at some of the websites our designers have created for other customers
                    </p>
                    <a class="btn btn-warning">View All</a>
                </div>
            </div>
            <div class="container mb-5">
                <div class="col mt-5 justify-content-center align-items-center text-center ribbon-container">
                    <div class="ribbon">Since 2003</div>
                    <div>
                        <h1 class="fw-bold">Trusted by Hundreds of Clients in Pakistan and 9 other Countries</h1>
                        <p>
                            We are recognized as the best web design company in Pakistan. We offer beautiful web design services and affordable web development packages in Pakistan. Our web design provides exceptional user experience. If you are looking for a web development company in Pakistan who can help you stand out from the crowd with the lowest website design price in Pakistan, then get in touch with us.
                        </p>
                        <a class="btn btn-dark">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-12 text-center">
                <h1 class="mainheadings mt-5">Technology Blogs</h1>
            </div>
            <div class="col-md-6 col-lg-3">
                <a href="" class="text-muted text-decoration-none">
                    <div class="card" style="width: 18rem;">
                        <img src="~/imgs/Content-Splintering-280x180.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text fw-bolder">Content Splintering:</p>
                            <p class="fw-bold">Unlocking new Possibilities for audience</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a href="" class="text-muted text-decoration-none">
                    <div class="card" style="width: 18rem;">
                        <img src="~/imgs/Free-WordPress-Performance-Audit-280x180.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text fw-bolder">Free wordpress</p>
                            <p class="fw-bold">Performance audit to fix high CPU and memory useage</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a href="" class="text-muted text-decoration-none">
                    <div class="card" style="width: 18rem;">
                        <img src="~/imgs/OpenAI-GPT-4-Arriving-Mid-March-2023-280x180.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text fw-bolder">Open AI GPT-4</p>
                            <p class="fw-bold">Arriving mid march 2023</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a href="" class="text-muted text-decoration-none">
                    <div class="card" style="width: 18rem;">
                        <img src="~/imgs/Backlinks-For-E-Commerce-Website-280x180.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text fw-bolder">How to Create High-</p>
                            <p class="fw-bold">Quality Backlinks for e-Commerce website</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center fw-bold">Leading Web Design Agency in Pakistan since 2003</h2>
                <p class="text-center">We are the leading web design company in Pakistan, offering web development in Karachi with an experienced team of web designers. You will be able to find us as ideal web development company for your business in Karachi, Lahore and Islamabad. We provide all the services needed for a successful business website.</p>
            </div>
            <div class="col-md-5 border me-1 mb-1">
                <i class="fas fa-globe mt-1" style="font-size: 50px;"></i>
                <h2 class="mainheadings">Balanced Reputation across the World</h2>
                <p>Another great advantage of choosing our web development services in Pakistan is the fact that we have a balanced reputation across the world. We have a high capacity, low prices, and a young staff. Our young team is highly skilled and has years of experience. This makes the selection process simpler for clients. Our website design price in Pakistan is affordable, which is a plus. It is not hard to find a company for website design in Karachi as well as reputable website designing company in Lahore who can easily provide you a beautiful and affordable website in just three days.</p>
            </div>
            <div class="col-md-6 border">
                <i class="fas fa-screwdriver mt-1" style="font-size: 50px;"></i>
                <h2 class="mainheadings">Experienced Website Troubleshooters</h2>
                <p>We are not just about building a website. We are able to troubleshoot the code for our clients. This is especially difficult for people who do not have previous experience with the subject. This is where our professional web development company comes in handy. Our skilled and reliable team will be able to provide you with the kind of expertise you need to achieve your business goals. We can help you with every aspect of web design.</p>
            </div>
            <div class="col-md-5 border me-1 mb-1">
                <i class="fas fa-slideshare mt-1" style="font-size: 50px;"></i>
                <h2 class="mainheadings">Customer Focused Design</h2>
                <p>We develop websites that will be both functional and attractive to your target audience. In fact, there are more than a billion websites on the internet. It is important to choose a website development company in Pakistan who can meet your needs the most.</p>
            </div>
            <div class="col-md-6 border mt-1 mb-3">
                <i class="fas fa-tag mt-1" style="font-size: 50px;"></i>
                <h2 class="mainheadings">Get Recognition in International Market</h2>
                <p>We will help your business more recognized in the international market with the use of most advanced technology, while ensuring that you get the best ROI from it.</p>
            </div>
        </div>
    </div>
</div>